@import "tailwindcss";

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.min-home-screen {
  min-height: 65vh;
}

#main-header {
  transition:
    background-color 0.3s ease,
    backdrop-filter 0.3s ease;
}

#mobile-menu-overlay {
  transition: opacity 0.3s ease;
}

.service-button {
  transition:
    transform 0.3s ease,
    opacity 0.3s ease;
}

#service-title,
#service-description,
#service-additional-info {
  transition: opacity 0.3s ease;
}

#next-service-btn:hover {
  transform: scale(1.05);
}
